<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHvo7X4lb-rGOsx0Md5DnQ3DCoSCDrTyA</string>
	<key>GCM_SENDER_ID</key>
	<string>887520562751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nurseryManagement</string>
	<key>PROJECT_ID</key>
	<string>tdkindergarten</string>
	<key>STORAGE_BUCKET</key>
	<string>tdkindergarten.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887520562751:ios:d204721873e0302df6f28a</string>
</dict>
</plist>